// Base

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100");

*,
*:after,
*:before {
  @include box-sizing(border-box);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

html, body {
  height: 100%;
  background: #ffffff;
}

.cf {
  @include cf();
}